$main-bg: #110d19;
$primary-color: #00bbc9;
$secondary-color: #8a999d;
$secondary-bg: #201633;
$secondary-bg-hover: #3a275c;
$border: #2c2044;
$border-hover: #3a275c;
$font-color: #c9d1d9;
$button-disabled: #4f4858;
$mobile-width: 560px;
